<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.habitapp">
    //use internet
<uses-permission android:name="android.permission.INTERNET">

</uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habitapp">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Habitform"
            android:exported="true"
            android:label="@string/Habit_Details">

        </activity>
        <activity android:name=".Loginform"
            android:exported="true"
            android:label="@string/Login">

        </activity>
        <activity android:name=".MotivationInsight"
            android:exported="true"
            android:label="@string/motivation_text">

        </activity>
        <activity android:name=".Registernew"
            android:label="@string/Register">

        </activity>
    </application>

</manifest>